
body{
	margin: 0;
	min-width: 980px;
	padding: 0;
	overflow-x:hidden;

	font: 15px/25px 'Cabin', Helvetica, Arial, sans-serif;
}
	
h2 {
	font: 70px/100px 'Lobster', Georgia, Times, serif;
	margin: 0;
	padding: 0;
}
#nav {
	position: fixed;
	right: 0;
	top:0;
	z-index: 9999;
	list-style: none;
	font-weight: 900;
	width:500px;



}
	#nav, #nav li {
		float: left;
		margin: 0;
		padding: 0;
	}
	#nav li {
		-webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.5);
		box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.5);

		border: 2px solid white;

		width: 140px;
		background-color: #000;
		text-align: center;
		margin-right: 2px;
		/* padding: 10px; */
	}
	#nav li:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);

	}
	#nav li a {
		color: #fff;
		
		text-decoration: none;
		font-weight: 900;
		text-transform: lowercase;

		display: block;
		height: 100%;
		width: 100%;
		margin:  0;

		padding: 5px 0;
	}

	

#header { height: 0px;}
#logo { float:left; }
#intro{
	background:url(../images/phone.jpg) 30% 0 no-repeat fixed;
	color: white;
    height: 900px;
	min-width: 980px;
    margin: 0;
    padding: 260px 0 0 200px;
}

	.story{
	    margin: 0 auto;
	    min-width: 480px;
	    width: 580px;
	    background: transparent url(../images/blackbg.png) 0 0 repeat;
	    padding: 20px;
	}


#second {
	
	background:url(../images/Road.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 949px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 500px 0 0;
}

	#second .story {
		width: 200px;
	}

#second .bg1 { background: url(../images/car-small.png) 60% 0 no-repeat fixed;
   
	height: 949px;
	margin: 0 100px;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}


#third {
	background: url(../images/Logos0016_M.jpg) 50% 0 no-repeat fixed;
	color: white;
	
	height: 949px;
	padding: 100px 0 0 0;	
}
	#third .story {
		width: 800px;
	}